* {
  box-sizing: border-box;
}
.card {
  display: inline-block;
  position: relative;
  background: #000 url('./image/bg.svg') no-repeat center / cover;
  margin: 10px;
}
.char {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #323232;
  font-family: Russo One, 'sans-serif';
}
.half {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}
.half::after {  
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.back-top {
  z-index: 1;
}
.back-bottom {
  top: 50%;
  transform: perspective(230px) rotateX(180deg);
  transform-origin: top;
  backface-visibility: hidden;
  z-index: 3;
}
.front-top {
  transform: perspective(230px) rotateX(0deg);
  transform-origin: bottom;
  backface-visibility: hidden;
  z-index: 2;
}
.front-bottom {
  top: 50%;
  z-index: 2;
}
.back-bottom .char,
.front-bottom .char {
  top: -100%;
}
.active .back-bottom {
  transform: perspective(230px) rotateX(0deg);
  transition: transform 0.5s linear;
}
.active .front-top {
  transform: perspective(230px) rotateX(-180deg);
  transition: transform 0.5s linear;
}
.back-top::after,
.front-top::after {
  background: linear-gradient(to bottom, rgba(0,0,0,.1) 95%, rgba(0,0,0,.35) 100%);
}
.back-bottom::after,
.front-bottom::after {
  background: linear-gradient(to top, rgba(0,0,0,.1) 95%, rgba(109,110,113,.35) 100%);
}
 