* {
  box-sizing: border-box;
}
.card {
  display: inline-block;
  position: relative;
  background: #323232 url('./image/bg.svg') no-repeat center / cover;
  margin: 10px;
}
.char {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flip {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.flip::after {  
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.back-top {
  transform: perspective(260px) rotateX(0deg);
  transform-origin: 50% 50%;
  backface-visibility: unset;
  z-index: 1;
}
.back-bottom {
  transform: perspective(260px) rotateX(180deg);
  transform-origin: 50% 0;
  backface-visibility: hidden;
  z-index: 3;
}
.front-top {
  transform: perspective(260px) rotateX(0deg);
  transform-origin: 50% 100%;
  backface-visibility: hidden;
  z-index: 2;
}
.front-bottom {
  transform: perspective(260px) rotateX(0deg);
  transition: none;
  transform-origin: 50% 50%;
  backface-visibility: unset;
  z-index: 2;
}

.active .back-bottom {
  transform: perspective(260px) rotateX(0deg);
  transition: transform 0.5s linear;
}
.active .front-top {
  transform: perspective(260px) rotateX(-180deg);
  transition: transform 0.5s linear;
}
.char {
  color: #fff;
  background: #323232;
}
.back-top::after,
.front-top::after {
  background: linear-gradient(to bottom, rgba(0,0,0,.1) 95%, rgba(0,0,0,.35) 100%);
}
.back-bottom::after,
.front-bottom::after {
  background: linear-gradient(to top, rgba(0,0,0,.1) 95%, rgba(109,110,113,.35) 100%);
}
.back-top,
.front-top,
.back-bottom,
.front-bottom {
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}
 